/* .container {
    display: flex;
    justify-content: space-between;
    
}

.one {

    flex: 1;
}

.second {
    display: inherit;
    font-size: 1.5em;
    font-weight: 600;
    gap: 10px;
}

.img {
    width: 5em;
} */
/* 
.w3-content w3-section{
    max-width: 500px;
}
.mySlides{
    display: none;
    width: 100%;
}

.imgset  {
    padding: 20px
    /* background: #efefef */
    /* color: #000000 */
  /* } */
   
  /* .imgset  {
    display: flex
    alignItems: center
    justifyContent: center
    backgroundSize: cover
    height: 400px
  } */