
input.me-2.form-control{
   margin-right: 10px;
   padding: 4px 100px 2px 4px
}


 .slide-container .fadee{
    position: relative;
    place-items: center;
    align-items: center;
    justify-content: center;
 }
 .slider{
    position: relative;
 }
 .slideroverlay{
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: transparent;
    background: linear-gradient(transparent, rgb(255, 253, 253) 105%);
 }

.slide-container .imgset {
    height: 100vh;
    object-fit: cover;

    object-position: 50% 0;
} 
