

 .slide-container .fadee{
    position: relative;
    place-items: center;
    align-items: center;
    justify-content: center;
 }

.slide-container .imgset {
    width: 20rem;
    height: 18rem;
} 
